.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.aux
*.bbl
*.blg
*~*
*.dvi
*.log
*.lot
*.pdf
*.png
*.tif
*.ps
*.toc
*.html
*.png
*.csv
*.out
*.snm
*.nav
*.synctex.gz*
knitr-cache
*.html
*.rds
.Rbuildignore
resources/
#raw/
